body {
    background: linear-gradient(270deg, #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #8b00ff);
    background-size: 1400% 1400%;
    animation: regnbueAnimasjon 30s ease infinite;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
@keyframes regnbueAnimasjon {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
}

#inputs input {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 22px);
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    padding: 10px;
    width: 100%;
    margin: 5px 0 15px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#resultat {
    margin-top: 20px;
}

#lagListe p {
    margin: 5px 0;
}
